@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Manrope:wght@200..800&family=Poppins:wght@400;600;700;900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style-type: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@font-face {
    font-family: Angry;
    src: url(/assets/font/ANGRY.OTF);
}
@font-face {
    font-family: Inter;
    src: url();
}
$Onyx:#11120D;
$Onyx-60:#0E100999;
$FuscousGrey:#565449;
$FuscousGrey-50:#56544980;
$FuscousGrey-40:#56544966;
$PastelGrey:#D8CFBC;
$PastelGrey-40:#D8CFBC66;
$Bianca:#FFFBF4;
$Bianca-70:#FFFBF4B3;
body{
    background: $Onyx;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
h1{
    font-family: Angry;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2%;
    color: $Bianca;
    span{
        color: $PastelGrey;
        font-family: Angry;
    }
}
h2{
    font-family: Angry;
    font-size: 54px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -1%;
    color: $Bianca;
    span{
        color: $PastelGrey;
        font-family: Angry;
    }
}
h3{
    font-family: Angry;
    font-size: 42px;
font-weight: 400;
line-height: 110%;
letter-spacing: -2%;
    color: $Bianca;
    span{
        color: $PastelGrey;
        font-family: Angry;
    }
}
h4{
    font-family: Angry;
    font-size: 32px;
font-weight: 400;
line-height: 110%;
letter-spacing: -1%;
    color: $Bianca;
    span{
        color: $PastelGrey;
        font-family: Angry;
    }
}
.big-t, .button-big-t{
    font-family: Wix Madefor Text;
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -1%;
    color: $Bianca;
}
.small-t, .button-small-t{
    font-family: Wix Madefor Text;
    font-size: 20px ;
    font-weight: 400;
    line-height: 112%;
    letter-spacing: -1%;
    color: $Bianca;
}
.discription-t{
    font-family: Wix Madefor Text;
    font-size: 18px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -1%;
    color: $Bianca;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    gap: 12px;
   background: none;
border: 1px solid $PastelGrey;
border-radius: 60px;
}
.link-small-but{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
background: none;
transition: 0.2s ease-in-out;
border-bottom: 1.5px solid $Onyx;
&:hover{
    box-sizing: border-box;
border-bottom: 1.5px solid $Bianca;
}
}
.link-big-but{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
background: none;
transition: 0.2s ease-in-out;
border-bottom: 3px solid $Onyx;
&:hover{
    box-sizing: border-box;
border-bottom: 3px solid $Bianca;
}
}
.small-but{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 12px;
padding: 12px 20px;
box-sizing: border-box;
border: 1px solid $PastelGrey;
border-radius: 64px;
backdrop-filter: blur(4px);
background: $FuscousGrey-40;
transition: 0.2s ease-in-out;
&:hover{
    background: $PastelGrey-40;
}
img{
    width: 24px;
    height: 24px;
}
}
.big-but{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 12px;
padding: 24px;
box-sizing: border-box;
border: 1px solid $PastelGrey;
border-radius: 64px;
backdrop-filter: blur(4px);
background: $FuscousGrey-40;
transition: 0.2s ease-in-out;
&:hover{
    background: $PastelGrey-40;
}
img{
    width: 32px;
    height: 32px;
}
}
.icon-but{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    box-sizing: border-box;
    border: 1px solid $PastelGrey;
    border-radius: 64px;
    backdrop-filter: blur(4px);
    background: $FuscousGrey-40;
    transition: 0.2s ease-in-out;
    &:hover{
        background: $PastelGrey-40;
    }
}
.input-box{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap:8px;
.input{
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 12px 16px ;
border-radius: 8px;
border: 1px solid $Onyx;
backdrop-filter: blur(4px);
background: $FuscousGrey-40;
color: $Bianca;
&:hover{
border: 1px solid $FuscousGrey ;
}
&:invalid{
border: 1px solid red ;
}
&:valid{
    border-color:$PastelGrey;
}
}
}
.portfolio-card{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
width: 700px;
gap: 32px;
img{
    width: 700px;
}
.name-tag{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20px;
.tag{
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 12px;
}

}
}
.card-technology{
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
white-space: normal; 
img{
    width: 440px;
    height: 440px;
}
.group{
display: flex;
padding: 42px 0 0 42px;
background-image: url(/assets/img/card/card-tchnology.svg);
width: 947px;
height: 375px;
.opis{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    width: 863px;
    .zagl-tag{
        display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 18px;
        .tag-group{
            display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;}
    }
    
    }
}
}
.card-trust{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 376px;
        height: 322px;
    background-image:url(/assets/img/card/card-trust.svg) ;
    p{width: 294px;
    text-align: center;}
}
.segment-card{
    display: flex;
    padding: 0 0 0 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    width: 512px;
        height: 344px;
    background-image:url(/assets/img/card/segment.svg) ;
    p{width: 392px;
    text-align: left;}
}
.industrial-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 64px;
    .ind{
        display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
    .portfolio-card{
        width: 947px;
        img{width: 947px;}
    }
    .big-t{
        width: 621px;
    }
    }
}
header{
    position: fixed;
     
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 257px;
padding: 20px 32px;
border-radius: 0px 0px 40px 40px;
background: $Onyx-60;
backdrop-filter: blur(4px);
.burger-menu{
    display: none;
}
.nav-but{
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32px;
nav{
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}
}
}
footer{
    position: relative;
    display: flex;
    width: 1550px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 128px;
padding: 28px 32px;
background: $Onyx-60;
backdrop-filter: blur(4px);
border-radius: 40px 40px 0px 0px;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 46px;
        .section{display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 6px;
        }
    }
    .politic{
        display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32px;
.dd{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
    }
    img{
        position: absolute;
        top: 10%; 
        left: 93%;
    }
}


@media (max-width: 400px){
    h1{
        font-size: 38px;
        line-height: 115%;
        letter-spacing: -2%;
    }
    h2{
        font-size: 34px;
        line-height: 120%;
        letter-spacing: -2%;
    }
    h3{
        font-size: 28px;
    line-height: 115%;
    letter-spacing: -2%;
    }
    h4{
        font-size: 24px;
    line-height: 110%;
    letter-spacing: -1%;
    }
    .big-t, .button-big-t{
        font-size: 18px;
        line-height: 110%;
        letter-spacing: -1%;
    }
    .small-t, .button-small-t{
        font-size: 16px ;
        line-height: 110%;
        letter-spacing: -1%;
    }
    .discription-t{
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -1%;
    }
    .filter{
        padding: 8px;
    }
    .link-small-but{
    padding: 8px;

    }
    .link-big-but{
    padding: 12px;
    }
    .small-but{
    gap: 8px;
    padding: 8px 12px;

    }
    .big-but{
    gap: 8px;
    padding: 8px 12px;
   
    img{
        width: 24px;
        height: 24px;
    }
    }
    .icon-but{
        padding: 6px;

    }
    .input-box{
    gap:6px;
    .input{
    padding: 9px 12px ;
    }
    }
    .portfolio-card{

    gap: 16px;
    img{
        width: 343px;
    }
    .name-tag{

    gap: 8px;
    .tag{
   
    gap: 8px;
    }
    }
    }
    .card-technology{
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
    box-sizing: border-box;
    img{
        width: 288px;
        height: 288px;
    }
    .group{
    display: flex;
    padding: 24px 0 0 24px;
    background-image: url(/assets/img/card/form.svg);
    width: 345px;
    height:513px;
    .opis{

        gap: 24px;
        width: 295px;
        .zagl-tag{

    gap: 12px;
            .tag-group{
        gap: 12px;}
        }
        
        }
    }
    }
    .card-trust{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 166px;
        height: 244px;
        background-image:url(/assets/img/card/card-trust-mob.svg) ;
        p{width: 142px;}
    }
    header{
        display: flex;
       
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 16px;
    border-radius: 0px 0px 20px 20px;
    background: $Onyx-60;
    backdrop-filter: blur(4px);
    img{
        width: 250px;
    }
    .burger-menu{
        display: flex;
        .burger-icon{
            background: none;
            img{
                width: 32px;
                height: 32px;
            }
        }
    }
    .nav-but{
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
    padding-top: 60px; /* Space for header */
    z-index: 10;
    overflow-y: auto;
    nav{
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    }
    }
    .nav-but.open{
        left: 0;
    }
    }
    footer{
        position: relative;
        display: flex;
    width: 343px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    background: $Onyx-60;
    backdrop-filter: blur(4px);
    border-radius: 20px 20px 0px 0px;
        nav{
            flex-direction: column;
            gap: 24px;
            .section{display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 6px;
            }
        }
        .politic{
            display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    .dd{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
    }
        }
        img{
            width: 90px;
            position: absolute;
            top: 5%; 
            left: 70%;
        }
    }
}